<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
        
<hibernate-configuration>
  <session-factory>
    <!-- Database connection settings -->
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/sitechecker</property>
    <property name="connection.username">root</property>
    <property name="connection.password">1995821zsf</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
	
	<!-- c3p0 -->
	<property name="connection.provider_class"> org.hibernate.connection.C3P0ConnectionProvider</property>
	<property name="hibernate.c3p0.max_size">20</property>
	<property name="hibernate.c3p0.min_size">5</property>
	<property name="hibernate.c3p0.timeout">120</property>
	<property name="hibernate.c3p0.max_statements">100</property>
	<property name="hibernate.c3p0.idle_test_period">120</property>
	<property name="hibernate.c3p0.acquire_increment">2</property>   
	
    <!-- Enable Hibernate's automatic session context management
    	配置了这一个只要 通过getSession创建的session会绑定到当前的线程
     -->
    <property name="current_session_context_class">thread</property>

    <!-- Disable the second-level cache  -->
    <!-- <property name="cache.provider_class">org.hibernate.cache.internal.</property> -->

    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">true</property>

    <!-- Drop and re-create the database schema on startup -->
    <property name="hbm2ddl.auto">update</property>
    
    
    <mapping resource="hibernate/Images.hbm.xml"/>
    <mapping resource="hibernate/Inspect.hbm.xml"/>
    <mapping resource="hibernate/Record.hbm.xml"/>
    <mapping resource="hibernate/User.hbm.xml"/>
    <mapping resource="hibernate/Terminal.hbm.xml"/>
  </session-factory>
</hibernate-configuration>